.create-card .mdl-card {
	width: 100%;
	margin: 0 auto;
	max-width: 700px;
}

.create-card .mdl-card__actions {
	text-align: right;
}

.create-card .mdl-card__actions button {
	margin-left: 1em;
}

.create-card .create-card--input {
	display: flex;
	flex-direction: column;
}

.create-card .create-card--input .mdl-textfield {
	width: auto;
}

.create-card .busy {
    position: absolute;
    display: flex;
    width: 100%;
    background: rgba(255,255,255,0.7);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
	margin: 0 auto 1em auto;
	width: 60vw;
	height: 30vw;
	position: relative;
	perspective: 1000px;
}

.card .mdl-card {
	width: 100%;
	height: 100%;
	min-height: auto;
	overflow: visible;

	transform-style: preserve-3d;
	transition: 0.5s;
	position: relative;
}

.card.flipped .mdl-card {
	transform: rotateY(180deg);
}

.card .front,
.card .back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	backface-visibility: hidden;
}

.card p {
	font-size: 8vw;
	margin: 0;
}

.card .front {
	z-index: 2;
}

.card .back {
	transform: rotateY(180deg);
}

.card .delete {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	color: white;
}
